:root {
  --font-primary: "Plus Jakarta Sans", sans-serif;

  --color-background: #eeeeee;
  --color-content-background: #f7f7f7;
  --color-border: #c3d4e9;
  --color-icon: #596780;
  --color-secondary-light: #90a3bf;


  --color-text-primary: #1a202c;
  --color-text-muted: #13131399;

  --color-light: #ffffff;
  --color-notification: #ff4423;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  margin: 0;
}
